<config>
    <base_url>https://xxxxx</base_url>
    <access_token>xxxxxxxx</access_token>
    <service_name>yyyy</service_name>
    <application_plan_name>appplan-xxx-xxx</application_plan_name>
    <paths>        
        <path>
            <name>path_method_create</name>
            <url>/admin/api/services/{service_id}/metrics/{metric_id}/methods.xml</url>
        </path>
        <path>
            <name>path_mapping_rule_create</name>
            <url>/admin/api/services/{service_id}/proxy/mapping_rules.xml</url>
        </path>
        <path>
            <name>path_mapping_rules_list</name>
            <url>/admin/api/services/{service_id}/proxy/mapping_rules.xml</url>
        </path>
        <path>
            <name>path_metric_list</name>
            <url>/admin/api/services/{service_id}/metrics.xml</url>
        </path>
        <path>
            <name>path_service_list</name>
            <url>/admin/api/services.xml</url>
        </path>
        <path>
            <name>path_application_plan</name>
            <url>/admin/api/services/{service_id}/application_plans.xml</url>
        </path>
        <path>
            <name>path_limit_create</name>
            <url>/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits.xml</url>
        </path>
    </paths>
    <rules>
        <rule>
            <verb>GET</verb>
            <method>ggg</method>
            <pattern>/mmm</pattern>
        </rule>
        <rule>
            <verb>POST</verb>
            <method>zzzz</method>
            <pattern>/gfdg</pattern>
        </rule>
    </rules>
    <limits>
        <limit>zzzz</limit>
        <limit>z1</limit>
    </limits>
</config>